@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: #1a1919;
  border-radius: 6.25rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #fd007a;
  border-radius: .3125rem;
}
html {
  scroll-behavior: smooth;
}
#root{
  font-family: 'Poppins', sans-serif;
  background-image: url(/src/assets/img/bg_any.jpg);
  margin: 0 auto;
  justify-content: none;
  align-items: none;
  grid-template-areas: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  list-style: none;
  height: 100%;
  --bs-body-bg: #23232377;
}

